peersim-1.0.5/dist/
peersim-1.0.5/build/
peersim-1.0.5/nbproject/private/
neo4j/hash-graph/var/
openchord-graphdht/build/
openchord-graphdht/dist/
openchord-graphdht/nbproject/private/
openchord-graphdht/bin/

#ignore maven build directories in general
target/

#ignore IntelliJ IDEA project files
*.iml
*.ipr
*.iws
