peersim-1.0.5/dist/
peersim-1.0.5/build/
peersim-1.0.5/nbproject/private/
neo4j/hash-graph/var/
openchord-graphdht/build/
openchord-graphdht/dist/
openchord-graphdht/nbproject/private/
openchord-graphdht/bin/
neo4j/benchmark/workload/*
neo4j/benchmark/bin/*
neo4j/benchmark/local-data/*
neo4j/benchmark/log/*
neo4j/benchmark/var/

#ignore maven build directories in general
target/

#ignore IntelliJ IDEA project files
*.iml
*.ipr
*.iws
