# PEERSIM CHORD

# random.seed 1234567890
simulation.endtime 10^6
simulation.logtime 10^6

simulation.experiments 1

network.size 5000

protocol.tr UniformRandomTransport
{
	mindelay 0
	maxdelay 0
}

protocol.my ChordProtocol
{
	transport tr
}

control.traffic TrafficGenerator
{
	protocol my
	step 100
}

init.create CreateNw 
{
	protocol my
	idLength 128
	succListSize 12
}

control.observer MessageCounterObserver
{
	protocol my
	step 90000
}

control.dnet DynamicNetwork
{
	add 20
	add -25
	minsize 3000
	maxsize 7000
	step 100000
	init.0 ChordInitializer
	{      
		protocol my
	}
}
